[build]
      builder = "dockerfile"
    
    [deploy]
      healthcheckPath = "/"
      healthcheckTimeout = 300
      healthcheckInterval = 30
      restartPolicyType = "on_failure"
    
    [variables]
      PORT = "8080"
    
